%h1 Listing repositories

%table.table.table-striped
  %tr
    %th Name
    %th URL
    %th
    %th
    %th
  - @repositories.each do |repository|
    %tr
      %td= repository.name
      %td= link_to repository.url, repository.url if repository.url
      %td= link_to 'Show', repository
      %td= link_to 'Edit', edit_repository_path(repository)
      %td= link_to 'Destroy', repository, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Repository', new_repository_path
