<%= simple_form_for(@record) do |f| %>

  <div class="field">
    <p>
        <b> Required Fields </b>
    </p>

    <%# TODO: automatically load tooltips %>
    <%= f.association :format, tooltip: I18n.t('records.format'),
          input_html: { class: 'chosen-select' } %> 
    <%= f.association :kytopic, tooltip: I18n.t('records.kytopic'),
          input_html: { class: 'chosen-select' } %> 
    <%= f.association :languages, tooltip: I18n.t('records.languages'),
          input_html: { class: 'chosen-select' } %> 
    <%= f.association :type, tooltip: I18n.t('records.type'),
          input_html: { class: 'chosen-select' } %>
    <%= f.input :rights, tooltip: I18n.t('records.rights') %> 
    <%= f.input :title, tooltip: I18n.t('records.title') %> 

    <p>
        <b> Required If Available </b>
    </p>
    <%= f.input :creator, tooltip: I18n.t('records.creator') %>
    <%= f.input :date, tooltip: I18n.t('records.date') %> 
    <%= f.input :source, tooltip: I18n.t('records.source') %>

    <p>
        <b> Recommended </b>
    </p>
    <%= f.association :archival_container_format, tooltip: I18n.t('records.archival_container_format'),
          input_html: { class: 'chosen-select' } %> 
    <%= f.association :subjects, tooltip: I18n.t('records.subjects'),
          input_html: { class: 'chosen-select' } %> 
    <%= f.association :file_format, tooltip: I18n.t('records.file_format'),
          input_html: { class: 'chosen-select' } %> 

 </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
