= simple_form_for(@record) do |f|
  %p
    %b Required Fields

  - if current_user.active_repositories.count == 1
    = f.input :repository_id,
              as: :hidden,
              input_html: {value: current_user.active_repositories.first.id}
  - else
    = f.association :repository, 
                    collection: current_user.active_repositories,
                    tooltip: I18n.t('records.repository')

  = render partial: 'inputs/association',
                    collection: [:format, :languages, :resource_type],
                    as: :field,
                    locals: { form: f, model: 'records' }

  = f.input :title, tooltip: I18n.t('records.title') 

  %p
    %b Required If Available

  = f.input :creator, tooltip: I18n.t('records.creator')
  = f.input :date, tooltip: I18n.t('records.date'), as: :date_picker
  = f.association :kentucky_topics, tooltip: I18n.t('records.kentucky_topics'),
                   input_html: { class: 'chosen-select' }
  = f.association :source, tooltip: I18n.t('records.source'),
                   input_html: { class: 'chosen-select' } 

  %p
    %b Recommended

  = render partial: 'inputs/association',
                    collection: [:subjects],
                    as: :field,
                    locals: { form: f, model: 'records' }

  = f.input :description, tooltip: I18n.t('records.description')
  = f.input :publisher, tooltip: I18n.t('records.publisher')
  = f.input :series_statement, tooltip: I18n.t('records.series_statement')

  = f.button :submit
