= render partial: 'fields/field',
         collection: [:format, :kentucky_topics, :languages, :resource_type, :title, :creators, :date, :sources, :subjects, :repository, :description, :publisher, :series_statement, :spatial_coverages, :archival_container_format, :container_number_1, :archival_container2_format, :container_number_2, :archival_container3_format, :container_number_3],
         locals: { model: @record }

= render partial: 'fields/field',
         locals: { model: @record, field: :retention }

- if @record.retention_id == Retention.temporal.id
  = render partial: 'fields/field', 
           locals: { model: @record, field_label: 'Temporal date', field: :retention_date }
    
- if can? :edit, @record
  = link_to 'Edit', edit_record_path(@record) 
= link_to 'Back', records_path
