<p id="notice"><%= notice %></p>
<p>
  <b> Account Information </b>
</p>


<p>
  <b>Abstract:</b>
  <%= @record.abstracttxt %>
</p>
<p>

<p>
  <b>Title:</b>
  <%= @record.title %>
</p>
<p>
  <b>Format:</b>
  <%= render @record.format %>
</p>
<p>
  <b>Type:</b>
  <%= render @record.type %>
</p>
<p>
  <b>Date:</b>
  <%= @record.date %>
</p>
<p>
  <b>Language:</b>
  <%= @record.language.collect {|l| l.name}.sort.join(',')  %>
</p>

<p>
  <b>Archival Container Format:</b>
  <%= render @record.archival_container_format %>
</p>


<p>
  <b>Subject:</b>
  <%= render  @record.subject  %>
</p>


<p>
  <b>File Format:</b>
  <%= render  @record.fileformat  %>
</p>

<p>
  <b>KY Topic:</b>
  <%= render @record.kytopic %>
</p>


<p>
  <b>Repository:</b>
  <%= render @record.repository %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> 
<%= link_to 'Back', records_path %>
