<p>
  <b>Format:</b>
  <%= render @record.format %>
</p>

<p>
  <b>KY Topic:</b>
  <%= render @record.kytopic %>
</p>

<p>
  <b>Languages:</b>
  <ul>
    <% @record.languages.each do |language| %>
    <li><%= render language %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Type:</b>
  <%= render @record.type %>
</p>

<p>
  <b>Title:</b>
  <%= @record.title %>
</p>

<p>
  <b>Creator:</b>
  <%= @record.creator %>
</p>

<p>
  <b>Date:</b>
  <%= @record.date %>
</p>

<p>
  <b>Source:</b>
  <%= render @record.source if @record.source%>
</p>

<p>
  <b>Archival Container Format:</b>
  <%= render @record.archival_container_format if @record.archival_container_format %>
</p>

<p>
  <b>Subjects:</b>
  <ul>
    <% @record.subjects.each do |subject| %>
    <li><%= render subject %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>File Format:</b>
  <%= render  @record.file_format if @record.file_format %>
</p>

<p>
  <b>Repository:</b>
  <%= @record.repository.name if @record.repository and @record.repository.name %>
</p>



<%= link_to 'Edit', edit_record_path(@record) %> 
<%= link_to 'Back', records_path %>
